<h3 class="find-job-tools-title">בדרך למשרה הבאה שלך</h3>

<div class="find-job-tools-container">
  <div class="find-job-tools">
    <div class="find-job-tool">
      <img
        class="tool-svg"
        src="../../../../../assets/home-page/find-job-tools/drushim-smart-alerts.webp"
        alt=""
      />

      <div class="find-job-tool-text">
        <p class="find-job-tool-title">הסוכנת החכמה</p>
        <p class="find-job-tool-subtitle">קבלו הצעת עבודה ישירות למייל</p>
      </div>
    </div>

    <div class="find-job-tool">
      <img
        class="tool-svg"
        src="../../../../../assets/home-page/find-job-tools/drushim-cv.webp"
        alt=""
      />

      <div class="find-job-tool-text">
        <p class="find-job-tool-title">קורות חיים</p>
        <p class="find-job-tool-subtitle">כתיבת קורות חיים מקצועיים בחינם</p>
      </div>
    </div>

    <div class="find-job-tool">
      <img
        class="tool-svg"
        src="../../../../../assets/home-page/find-job-tools/drushim-calculator.webp"
        alt=""
      />

      <div class="find-job-tool-text">
        <p class="find-job-tool-title">מחשבון שכר</p>
        <p class="find-job-tool-subtitle">
          בו תוכלו לערוך חישוב מדוייק של השכר נטו אותו תקבלו
        </p>
      </div>
    </div>

    <div class="find-job-tool">
      <img
        class="tool-svg"
        src="../../../../../assets/home-page/find-job-tools/drushim-jobs.webp"
        alt=""
      />

      <div class="find-job-tool-text">
        <p class="find-job-tool-title">פרסום משרה</p>
        <p class="find-job-tool-subtitle">גיוס עובדים במהירות ובקלות!</p>
      </div>
    </div>
  </div>
</div>
