<div class="footer-container">
  <div class="categories">
    <section class="category">
      <h3 class="category-headline">נדל"ן</h3>

      <ul
        class="category-list"
        [ngClass]="{ showCategoryList: showCategoryList[0] }"
      >
        <div class="category-list-column">
          <li class="category-item">מכירה</li>
          <li class="category-item">השכרה</li>
          <li class="category-item">מסחרי</li>
          <li class="category-item">כונס נכסים</li>
          <li class="category-item">דירות חדשות</li>
          <li class="category-item">Yzer - בונים החלטות חכמות</li>
          <li class="category-item">Yadata - הערכת שווי נכס</li>
        </div>
      </ul>

      <i
        class="fas fa-chevron-left"
        (click)="onCategoryListIconClicked(0)"
        [ngClass]="{ rotateIcon: showCategoryList[0] }"
      ></i>
    </section>

    <section class="category">
      <h3 class="category-headline">רכב</h3>

      <ul
        class="category-list"
        [ngClass]="{ showCategoryList: showCategoryList[1] }"
      >
        <div class="category-list-column">
          <li class="category-item">פרטיים ומסחריים</li>
          <li class="category-item">משאיות</li>
          <li class="category-item">אופנועים</li>
          <li class="category-item">קטנועים</li>
          <li class="category-item">כלי שייט</li>
        </div>

        <div class="category-list-column">
          <li class="category-item">מיוחדים</li>
          <li class="category-item">אביזרים</li>
          <li class="category-item">רכבים מכונס נכסים</li>
          <li class="category-item">מחירון רכב</li>
          <li class="category-item">מימון רכב</li>
        </div>
      </ul>

      <i
        class="fas fa-chevron-left"
        (click)="onCategoryListIconClicked(1)"
        [ngClass]="{ rotateIcon: showCategoryList[1] }"
      ></i>
    </section>

    <section class="category">
      <h3 class="category-headline">יד שנייה</h3>

      <ul
        class="category-list"
        [ngClass]="{ showCategoryList: showCategoryList[2] }"
      >
        <div class="category-list-column">
          <li class="category-item">לכל המוצרים</li>
          <li class="category-item">ריהוט</li>
          <li class="category-item">סלולרי</li>
          <li class="category-item">מוצרי חשמל</li>
          <li class="category-item">אופניים</li>
        </div>
      </ul>

      <i
        class="fas fa-chevron-left"
        (click)="onCategoryListIconClicked(2)"
        [ngClass]="{ rotateIcon: showCategoryList[2] }"
      ></i>
    </section>

    <section class="category">
      <h3 class="category-headline">דרושים</h3>

      <ul
        class="category-list"
        [ngClass]="{ showCategoryList: showCategoryList[3] }"
      >
        <div class="category-list-column">
          <li class="category-item">כל הקטגוריות</li>
          <li class="category-item">חברות מובילות</li>
          <li class="category-item">דרושים הייטק</li>
          <li class="category-item">קורות חיים</li>
          <li class="category-item">מגזין קריירה</li>
          <li class="category-item">סוכן חכם</li>
        </div>
      </ul>

      <i
        class="fas fa-chevron-left"
        (click)="onCategoryListIconClicked(3)"
        [ngClass]="{ rotateIcon: showCategoryList[3] }"
      ></i>
    </section>

    <section class="category last-category">
      <h3 class="category-headline">עוד באתר</h3>

      <ul
        class="category-list"
        [ngClass]="{ showCategoryList: showCategoryList[4] }"
      >
        <div class="category-list-column">
          <li class="category-item">חיות מחמד</li>
          <li class="category-item">בעלי מקצוע</li>
          <li class="category-item">מגזין יד2</li>
        </div>
      </ul>

      <i
      class="fas fa-chevron-left"
        (click)="onCategoryListIconClicked(4)"
        [ngClass]="{ rotateIcon: showCategoryList[4] }"
      ></i>
    </section>
  </div>

  <div class="media-buttons">
    <button class="media-btn">
      <svg viewBox="3 1 30 32" class="media-btn-svg">
        <path
          d="M28.305 24.518a16.566 16.566 0 01-1.64 2.948c-.862 1.229-1.568 2.08-2.112 2.552-.843.776-1.747 1.173-2.714 1.195-.695 0-1.532-.198-2.507-.599-.978-.399-1.877-.597-2.699-.597-.862 0-1.787.198-2.776.597-.991.401-1.788.61-2.399.631-.928.04-1.853-.369-2.776-1.227-.589-.514-1.326-1.395-2.209-2.643-.947-1.333-1.726-2.878-2.336-4.64-.653-1.903-.981-3.746-.981-5.53 0-2.044.442-3.806 1.326-5.283.695-1.186 1.62-2.122 2.777-2.809s2.408-1.037 3.755-1.06c.737 0 1.703.228 2.904.676 1.198.45 1.966.677 2.304.677.252 0 1.106-.267 2.554-.798 1.369-.493 2.525-.697 3.472-.616 2.566.207 4.493 1.218 5.775 3.041-2.295 1.39-3.43 3.338-3.407 5.836.021 1.946.727 3.565 2.114 4.851a6.936 6.936 0 002.112 1.385c-.169.491-.348.962-.538 1.414zM22.421 1.363c0 1.525-.557 2.949-1.668 4.267-1.34 1.567-2.961 2.472-4.719 2.329a4.839 4.839 0 01-.035-.578c0-1.464.637-3.031 1.769-4.312.565-.649 1.284-1.188 2.155-1.618.87-.424 1.692-.658 2.466-.698.023.204.032.408.032.61z"
          fill="currentColor"
        ></path>
      </svg>
    </button>

    <button class="media-btn">
      <svg viewBox="-7 -5 40 40">
        <path
          fill="#ffd400"
          d="M22.093 20.929c3.789-2.081 6.687-3.666 6.935-3.789.793-.421 1.61-1.536 0-2.402-.52-.272-3.319-1.808-6.935-3.789l-4.978 5.003 4.978 4.978z"
        ></path>
        <path
          fill="#f33"
          d="M17.115 15.95L1.214 31.975c.372.05.793-.05 1.288-.322 1.04-.57 12.087-6.613 19.591-10.724l-4.978-4.978z"
        ></path>
        <path
          fill="#48ff48"
          d="M17.115 15.95l4.978-5.003S3.616.866 2.502.272C2.081.024 1.61-.05 1.189.024L17.115 15.95z"
        ></path>
        <path
          fill="#3bccff"
          d="M17.115 15.95L1.189.024C.545.173 0 .742 0 1.906v28.186c0 1.065.421 1.833 1.214 1.907l15.901-16.05z"
        ></path>
      </svg>
    </button>

    <button class="media-btn">
      <svg viewBox="1 0 24 24" class="media-btn-svg">
        <path
          d="M13.32 20.5H9.773v-8.501H8v-2.93h1.773V7.312c0-2.39 1-3.811 3.844-3.811h2.367v2.93h-1.48c-1.107 0-1.18.41-1.18 1.174L13.32 9.07H16l-.314 2.929H13.32V20.5z"
          fill="currentColor"
        ></path>
      </svg>
    </button>

    <button class="media-btn">
      <svg viewBox="0 0 17 12" class="media-btn-svg">
        <path
          d="M16.294 8.843V3.031s0-2.801-2.782-2.801H2.93S.15.23.15 3.03v5.812s0 2.801 2.781 2.801h10.582s2.782 0 2.782-2.8zm-4.938-2.898L6.07 9.071V2.819l5.286 3.126z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
  </div>

  <div class="copyright-text">
    כל הזכויות שמורות לחברת קורל תל מפעילות לוח יד2 - לוח מודעות: דרושים, דירות
    להשכרה, בתים למכירה, בתים להשכרה, העברת בתים, הובלות, לימודים, קניות, בעלי
    מקצוע, אצבע, תיירות ועוד. אין לעשות שימוש בכל התכנים המופיעים בלוח יד2.
  </div>

  <hr class="footer-divider" />

  <ul class="other-links">
    <li class="other-link">תקנון</li>
    <li class="other-link">הצהרת נגישות</li>
    <li class="other-link">מדיניות פרטיות</li>
    <li class="other-link">מפת האתר</li>
    <li class="other-link">צור קשר</li>
    <li class="other-link">ביטול עסקה</li>
    <li class="other-link">קריירה ביד2</li>
    <li class="other-link">פרויקטי נדלניישן</li>
  </ul>

  <div class="version">גרסה: production</div>
</div>
