<div class="categories-container">
    <div class="category">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-yad1.png&w=256&q=75" alt="">
        <div class="category-text">דירות חדשות</div>
    </div>

    <div class="category">
            <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-real-estate.png&w=256&q=75" alt="">
        <div class="category-text">נדל"ן</div>
    </div>

    <div class="category">
            <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-vehicles.png&w=256&q=75" alt="">
        <div class="category-text">רכב</div>
    </div>

    <div class="category">
            <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-second-hand.png&w=256&q=75" alt="">
        <div class="category-text">יד שנייה</div>
    </div>

    <div class="category">
            <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-drushim-new.png&w=256&q=75" alt="">
        <div class="category-text">דרושים</div>
    </div>

    <div class="category">
            <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-professional.png&w=256&q=75" alt="">
        <div class="category-text">בעלי מקצוע</div>
    </div>

    <div class="category">
            <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-business.png&w=256&q=75" alt="">
        <div class="category-text">עסקים למכירה</div>
    </div>
</div>

