:host {
  display: block;
  height: 45px;
  width: 100vw;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: "Rubik", sans-serif;
  position: fixed;

  @media (min-width: 880px) {
    height: auto;
    min-height: 64px;
  }
}

.header-container {
  height: 100%;
  direction: rtl;
  padding: 0 10px 0 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(54, 54, 54);

  .logo-img-container {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .logo-img {
      margin-left: -20px;
      width: 50px;
    }
  }

  .categories {
    display: none;
    list-style: none;
    padding: 0;

    .category {
      position: relative;
      display: block;
      height: 100%;
      padding: 0 20px;
    }
  }

  .user-profile,
  .post-ad {
    height: 100%;
    display: none;
  }

  .post-ad:hover {
    background-color: rgb(255, 250, 245);
  }

  .svg-links {
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .svg-link {
      display: inline-block;
      min-height: inherit;
      cursor: pointer;
      padding: 0 10px;
    }

    .chat-svg,
    .favorites-svg {
      color: rgb(54, 54, 54);
    }

    svg {
      min-height: 45px;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.gray-background:hover {
  background-color: rgb(248, 248, 248);
}

@media (min-width: 880px) {
  .header-container {
    height: auto;
    min-height: 64px;

    .svg-links {
      width: auto;
      direction: rtl;

      .mobile-right-links {
        min-height: inherit;
      }

      .svg-link {
        display: flex;
        align-items: center;
        padding: 2.5px 10px;
      }

      .desktop-chat-title,
      .desktop-favorites-title {
        margin-right: 3px;
      }

      .menu-link {
        display: none;
      }
    }

    .user-profile,
    .post-ad {
      display: flex;
      align-items: center;
      cursor: pointer;

      .user-profile-title {
        margin-right: 5px;
      }

      .user-profile-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(204, 204, 204);

        svg {
          font-size: 25px;
          color: #363636;
        }
      }
    }

    .user-profile {
      min-height: inherit;
      padding: 5px 20px;
    }

    .post-ad {
      border: 1px solid rgb(255, 113, 0);
      border-radius: 30px;
      padding: 7px 18px;
      color: rgb(255, 113, 0);
      font-weight: 500;
      font-size: 0.875rem;

      .post-ad-title {
        margin-bottom: 2px;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 4px;
      }
    }

    .categories {
      min-height: inherit;
      display: flex;
      direction: rtl;
      margin-left: auto;

      .category,
      .category a {
        display: flex;
        align-items: center;
        min-height: inherit;
        cursor: pointer;
      }
    }

    .logo-img-container {
      position: static;
      width: 74px;
      z-index: 1;

      .logo-img {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1365px) {
  .desktop-chat-title,
  .desktop-favorites-title {
    display: none;
  }
}
