<h3 class="recommended-searches-title">חיפושים שאסור לפספס</h3>

<div class="recommended-searches-container">
  <div class="recommended-searches">
    <div class="search-item">
      <img
        class="item-svg"
        src="../../../../../assets/home-page/recommended-searches/vehicles.webp"
        alt=""
      />

      <span class="search-item-text"
        >הרכבים הכי נחשקים סביבך עד 60,000 ש״ח</span
      >
    </div>

    <div class="search-item">
      <img
        class="item-svg"
        src="../../../../../assets/home-page/recommended-searches/real-estate.webp"
        alt=""
      />

      <span class="search-item-text"
        >דירות מתחת ל2,000,000 ש״ח באזור תל אביב</span
      >
    </div>

    <div class="search-item">
      <img
        class="item-svg"
        src="../../../../../assets/home-page/recommended-searches/products.webp"
        alt=""
      />

      <span class="search-item-text"
        >המוצרים הפופולרים ביותר מהשבוע האחרון</span
      >
    </div>

    <div class="search-item">
      <img
        class="item-svg"
        src="../../../../../assets/home-page/recommended-searches/career-magazine.webp"
        alt=""
      />

      <span class="search-item-text"
        >מגזין הקריירה - המקום שיכין אותך לעבודה הבאה שלך</span
      >
    </div>
  </div>
</div>
