:host {
  display: block;
  padding: 1rem 0 60px;
  background-color: rgb(248, 248, 248);
  font-family: "Rubik", sans-serif;
  color: #363636;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.additional-info-title {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1rem 0 15px 0;
}

.site-categories {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  .info-content {
    min-height: 375px;

    .additional-info-buttons {
      display: flex;

      .additional-info-btn {
        font-family: inherit;
        color: inherit;
        border: 1px solid rgb(204, 204, 204);
        background-color: white;
        border-radius: 30px;
        width: 75px;
        margin: 0 5px;
        height: 36px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }

      .active-btn {
        color: white;
        background-color: rgb(255, 113, 0);
        border: 1px solid rgb(255, 113, 0);
      }
    }
  }
}

@media (min-width: 881px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional-info-title {
    font-size: 1.5rem;
  }

  .site-categories {
    // margin: 0 auto;
    justify-content: space-between;

    .info-content {
      .additional-info-buttons .additional-info-btn {
        width: 100px;
      }
    }
  }
}
