<div class="slide-images-container">
  <div
    class="slide-img-div"
    *ngFor="let slideImg of slideImages; let i = index"
  >
    <img
      [ngClass]="i === 0 ? 'slide-left' : 'slide-right'"
      class="slide-image"
      *ngIf="activeSlideImgIndex === i"
      src="{{ slideImg }}"
      alt=""
    />

    <button
      class="switch-img-button"
      (click)="onSlideImgButtonClicked(i)"
      [ngClass]="[
        'btn-position-' + i,
        activeSlideImgIndex === i ? 'active-btn' : ''
      ]"
    ></button>
  </div>
</div>

<app-categories></app-categories>
<img
  class="generic-ad"
  src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fbraze-images.com%2Fappboy%2Fcommunication%2Fassets%2Fimage_assets%2Fimages%2F67adf66e57633b006470131f%2Foriginal.jpg%3F1739454062&w=1920&q=75"
  alt=""
/>
<app-popular-services></app-popular-services>
<app-recommended-searches></app-recommended-searches>
<app-find-job-tools></app-find-job-tools>
<app-business></app-business>
