:host {
    display: block;
    max-width: 1200px;
    margin: 32px auto;
}

.slide-images-container {
    position: relative;

    .slide-image {
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    .switch-img-buttons {
        position: absolute;
        bottom: 8px;
        right: 20px;
        display: flex;
        gap: 15px;
        
        .switch-img-button {
            border-radius: 50%;
            border: 1px solid #ff7100;
            height: 8px;
            width: 8px;
            padding: 0;
            cursor: pointer;
        }
    }
}

@media (min-width: 881px) {
    // .slide-images-container {
    //     .switch-img-buttons {
    //         bottom: 24px;
    //         right: 48px;
    //     }
    // }

    .slide-images-container div {
        position: relative;

        .switch-img-button {
            border-radius: 50%;
            border: 1px solid #ff7100;
            height: 8px;
            width: 8px;
            padding: 0;
            cursor: pointer;
        }

        .btn-position-0 {
            bottom: 24px;
            right: 48px;
        }
        .btn-position-1 {
            bottom: 24px;
            right: 54px;
        }
        .btn-position-2 {
            bottom: 24px;
            right: 60px;
        }
    }

}

@media (max-width: 600px) {
    .slide-images-container {
        .switch-img-buttons {
            gap: 8px;

            .switch-img-button {
                height: 6px;
                width: 6px;
            }
        }
    }
}