<h3 class="popular-services-title">שירותים פופולריים</h3>

<div class="popular-services-container">
    <div class="popular-service">
        <img class="service-svg" src="../../../../../assets/home-page/popular-services/business.svg" alt="">

        <div class="service-text">
            <h5 class="service-title">נדל"ן מסחרי</h5>
            <h6 class="service-subtitle">מאגר הנכסים המסחריים הענק והעדכני</h6>
        </div>
    </div>

    <div class="popular-service">
        <img class="service-svg" src="../../../../../assets/home-page/popular-services/realestate.svg" alt="">

        <div class="service-text">
            <h5 class="service-title">יד1</h5>
            <h6 class="service-subtitle">פרויקטים חדשים ודירות חדשות בכל רחבי הארץ</h6>
        </div>
    </div>

    <div class="popular-service">
        <img class="service-svg" src="../../../../../assets/home-page/popular-services/priceList.svg" alt="">

        <div class="service-text">
            <h5 class="service-title">מחירון רכב</h5>
            <h6 class="service-subtitle">מידע ומחירים בזמן אמת במחיר השוק האמיתי</h6>
        </div>
    </div>

    <div class="popular-service">
        <img class="service-svg" src="../../../../../assets/home-page/popular-services/calculator.svg" alt="">

        <div class="service-text">
            <h5 class="service-title">Yadata</h5>
            <h6 class="service-subtitle">לדעת כמה הדירה שווה בעזרת מחשבון חדשני</h6>
        </div>
    </div>
</div>
